@page
@model PRN231_2_EventFlowerExchange_FE.Pages.FlowerPages.CreateFlowerModel
@{
}
<h1>Create Flower</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="FlowerName" required />
    </div>
    <!-- Add other flower input fields here -->
    <button type="submit" class="btn btn-primary">Create Flower</button>
</form>