@page
@model PRN231_2_EventFlowerExchange_FE.Pages.FlowerPages.EditFlowerModel

<h2>Edit Flower</h2>

<form method="post">
    <div>
        <label for="Name">Flower Name:</label>
        <input type="text" id="Name" name="Flower.Name" value="@Model.Flower.Name" />
    </div>

    <div>
        <label for="Type">Type:</label>
        <input type="text" id="Type" name="Flower.Type" value="@Model.Flower.Type" />
    </div>

    <div>
        <label for="PricePerUnit">Price per unit:</label>
        <input type="number" id="PricePerUnit" name="Flower.PricePerUnit" value="@Model.Flower.PricePerUnit" />
    </div>

    <div>
        <label for="RemainingQuantity">Remaining Quantity:</label>
        <input type="number" id="RemainingQuantity" name="Flower.RemainingQuantity" value="@Model.Flower.RemainingQuantity" />
    </div>

    <button type="submit">Save Changes</button>
</form>
