@page
@model PRN231_2_EventFlowerExchange_FE.Pages.UserPages.UserCreateModel
@{
    ViewData["Title"] = "Create User";
}

<h2>Create User</h2>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}