@page
@model PRN231_2_EventFlowerExchange_FE.Pages.Login.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<p>You have been successfully logged out.</p>
<a asp-page="/Index" class="btn btn-primary">Return to Home</a>