<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - Greeno</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"> <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<style>
    /* CSS bổ sung để footer luôn ở dưới cùng */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là 100% viewport */
    }

    main {
        flex: 1; /* Cho phép main mở rộng để chiếm không gian còn lại */
    }

    footer {
        background-color: white; /* Đặt màu nền cho footer */
    }
</style>
<partial name="_Header" />
<body>




    <main >
        @RenderBody()
    </main>



    @await RenderSectionAsync("Scripts", required: false)
</body>

<partial name="_Footer" />

</html>